h1
{
    text-align: center;
    font-size: 35px;
    color: red;
}
body
{
    text-align: center;
    color: black;
    font-size: 25px;
}
a{
    text-decoration: none;
    color: red;
}
img{
    alignment-adjust: central;
    width: auto;
    height: auto;
}