h1
{
    text-align: center;
    font-size: 35px;
    color: red;
}
body
{
    background-size: cover;
    text-align: center;
    color: white;
    font-size: 25px;
}
a{
    text-decoration: none;
    color: red;
}
<<<<<<< HEAD
img{
    alignment-adjust: central;
    width: auto;
    height: auto;
=======
a{
    text-decoration: none;
    color: red;
>>>>>>> 902a5ce51c751372371856c18dd4dbb40390ab26
}